# **Write a program to find the largest of three numbers.**

In [3]:
a=int(input("Enter a number: "))
b=int(input("Enter a number: "))
c=int(input("Enter a number: "))
if a> b and a> c:
  print(a, "is the largest number")
elif b> a and b> c:
  print(b, "is the largest number")
else:
  print(c, "is the largest number")

Enter a number: 10
Enter a number: 29
Enter a number: 35
35 is the largest number

# **Write a program to check whether a given year is a leap year.**

In [7]:
year = int(input("Enter a year: "))
if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

Enter a year: 400
400 is a leap year

# **Write a program to check if a character is a vowel or consonant.**

In [13]:
char = input("Enter a character: ").lower()
if char.isalpha():
    if char in 'aeiou':
        print(f"{char} is a vowel")
    else:
        print(f"{char} is a consonant")
else:
    print(f"{char} is not an alphabet")

Enter a character: F
f is a consonant

# **Write a program to check whether a number is divisible by both 5 and 11.**

In [15]:
n = int(input("Enter a number: "))
if n%5==0 and n%11==0:
  print(n,"is divisible by 5 and 11")
else:
  print(n,"is not divisible by 5 and 11")

Enter a number: 110
110 is divisible by 5 and 11

# **Write a program to print the multiplication table of a given number using a while loop.**

In [20]:
n = int(input("Enter a number: "))
i = 1
while i <= 10:
  print(i, "*", n, "=",i * n)
  i+=1

Enter a number: 5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

# **Write a program to calculate the sum of first N natural numbers using a while loop.**

In [21]:
n = int(input("Enter a number: "))
i = 1
sum = 0
while i <= n:
    sum += i
    i += 1
print("Sum of first", n, "natural numbers is:", sum)

Enter a number: 10
Sum of first 10 natural numbers is: 55

Print a pyramid pattern:
    *
   ***
  *****
 *******

In [23]:
n = int(input("Enter a number: "))
for i in range(n):
    print(' '*(n-i-1) + '*'*(2*i+1))

Enter a number: 4
   *
  ***
 *****
*******

Print:
1
12
123
1234
12345

In [24]:
n = int(input("Enter a number: "))
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end='')
    print()

Enter a number: 5
1
12
123
1234
12345