In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
import pandas as pd
data = pd.read_csv("/content/drive/MyDrive/archive.zip")
data.head()     #it shows the first 5 rows of data

  Category   Price    Rating         Stock  Discount
0      NaN  5548.0  1.870322           NaN       0.0
1      NaN  3045.0  4.757798           NaN      38.0
2      NaN  4004.0       NaN      In Stock       0.0
3      NaN  4808.0  1.492085           NaN      33.0
4      NaN  1817.0       NaN  Out of Stock      23.0

In [34]:
data.tail()

     Category   Price    Rating         Stock  Discount
4357      NaN  4436.0  4.728335           NaN      49.0
4358        B  6236.0       NaN  Out of Stock       4.0
4359      NaN  3283.0       NaN  Out of Stock       9.0
4360        D  2999.0  4.425995           NaN      40.0
4361      NaN     NaN  2.184471           NaN       0.0

In [17]:
print("Before Cleaning:")
data.info() # it shoes the structure, missing valus and tyeps of data available in taken dataset

Before Cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4362 entries, 0 to 4361
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  1614 non-null   object
 1   Price     4188 non-null   float64
 2   Rating    2312 non-null   float64
 3   Stock     3010 non-null   object
 4   Discount  3970 non-null   float64
dtypes: float64(3), object(2)
memory usage: 170.5+ KB

In [18]:
data.isnull().sum() # it shows the null values with sum

Category    2748
Price        174
Rating      2050
Stock       1352
Discount     392
dtype: int64

In [20]:
df = data.drop_duplicates() # it removes the duplicate rows in taken dataset
df

     Category   Price    Rating         Stock  Discount
0         NaN  5548.0  1.870322           NaN       0.0
1         NaN  3045.0  4.757798           NaN      38.0
2         NaN  4004.0       NaN      In Stock       0.0
3         NaN  4808.0  1.492085           NaN      33.0
4         NaN  1817.0       NaN  Out of Stock      23.0
...       ...     ...       ...           ...       ...
4357      NaN  4436.0  4.728335           NaN      49.0
4358        B  6236.0       NaN  Out of Stock       4.0
4359      NaN  3283.0       NaN  Out of Stock       9.0
4360        D  2999.0  4.425995           NaN      40.0
4361      NaN     NaN  2.184471           NaN       0.0

[4347 rows x 5 columns]

In [44]:
list(df.columns)

['Category', 'Price', 'Rating', 'Stock', 'Discount']

fillna() function is using to replace missing values in data fames

In [26]:
df["Category"] = df["Category"].fillna("unknown") # category - filling with "unknown"

/tmp/ipython-input-2436577818.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Category"] = df["Category"].fillna("unknown") # category - filling with "unknown"

In [27]:
df["Price"] = df["Price"].fillna(df["Price"].median()) # Price – Fill missing with median (better than mean for price)

/tmp/ipython-input-3093753061.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Price"] = df["Price"].fillna(df["Price"].median()) # Price – Fill missing with median (better than mean for price)

In [28]:
 #Rating – Fill missing with average rating
df["Rating"] = df["Rating"].fillna(df["Rating"].mean())

/tmp/ipython-input-296874258.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Rating"] = df["Rating"].fillna(df["Rating"].mean())

In [29]:
#Stock – Fill missing with "Not Available"
df["Stock"] = df["Stock"].fillna("Not Available")

/tmp/ipython-input-2170064838.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Stock"] = df["Stock"].fillna("Not Available")

In [30]:
#Discount – Fill missing with 0
df["Discount"] = df["Discount"].fillna(0)

/tmp/ipython-input-1716093945.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Discount"] = df["Discount"].fillna(0)

In [31]:
# Convert Stock column to category type
df["Stock"] = df["Stock"].astype("category")

/tmp/ipython-input-3128615598.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Stock"] = df["Stock"].astype("category")

In [35]:
# Remove negative prices
df = df[df["Price"] >= 0]
df.head()

  Category   Price    Rating          Stock  Discount
0  unknown  5548.0  1.870322  not available       0.0
1  unknown  3045.0  4.757798  not available      38.0
2  unknown  4004.0  3.038293       In Stock       0.0
3  unknown  4808.0  1.492085  not available      33.0
4  unknown  1817.0  3.038293   Out of Stock      23.0

In [36]:
# Ensure rating is between 0 and 5
df = df[(df["Rating"] >= 0) & (df["Rating"] <= 5)]
df.head()

  Category   Price    Rating          Stock  Discount
0  unknown  5548.0  1.870322  not available       0.0
1  unknown  3045.0  4.757798  not available      38.0
2  unknown  4004.0  3.038293       In Stock       0.0
3  unknown  4808.0  1.492085  not available      33.0
4  unknown  1817.0  3.038293   Out of Stock      23.0

In [38]:
# Ensure discount is not negative
df = df[df["Discount"] >= 0]
df.head()

  Category   Price    Rating          Stock  Discount
0  unknown  5548.0  1.870322  not available       0.0
1  unknown  3045.0  4.757798  not available      38.0
2  unknown  4004.0  3.038293       In Stock       0.0
3  unknown  4808.0  1.492085  not available      33.0
4  unknown  1817.0  3.038293   Out of Stock      23.0

In [39]:
#Reset Index After Cleaning
df = df.reset_index(drop=True)
df.head()

  Category   Price    Rating          Stock  Discount
0  unknown  5548.0  1.870322  not available       0.0
1  unknown  3045.0  4.757798  not available      38.0
2  unknown  4004.0  3.038293       In Stock       0.0
3  unknown  4808.0  1.492085  not available      33.0
4  unknown  1817.0  3.038293   Out of Stock      23.0

In [41]:
print("\nAfter Cleaning:")
print(df.info())

After Cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4347 entries, 0 to 4346
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  4347 non-null   object
 1   Price     4347 non-null   float64
 2   Rating    4347 non-null   float64
 3   Stock     4347 non-null   category
 4   Discount  4347 non-null   float64
dtypes: category(1), float64(3), object(1)
memory usage: 140.3+ KB
None

In [42]:
print(df.head())

  Category   Price    Rating          Stock  Discount
0  unknown  5548.0  1.870322  not available       0.0
1  unknown  3045.0  4.757798  not available      38.0
2  unknown  4004.0  3.038293       In Stock       0.0
3  unknown  4808.0  1.492085  not available      33.0
4  unknown  1817.0  3.038293   Out of Stock      23.0

In [43]:
df.isnull().sum()

Category    0
Price       0
Rating      0
Stock       0
Discount    0
dtype: int64